
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Email
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>
    <ion-list lines="full">
      <form [formGroup]="emailForm" (ngSubmit)="formSubmit()">
    <ion-row>
      
      <ion-col size="6">
        <h2>
          Fill out the email form
        </h2>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input formControlName="name" type="text" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" type="text" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Subject</ion-label>
              <ion-input formControlName="subject" type="text" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Mobile</ion-label>
              <ion-input formControlName="mobile" type="text" required>
              </ion-input>
            </ion-item>
            <ion-button type="submit" color="primary" shape="full" expand="block" style="margin-top: 10px;">Send Email</ion-button>
      </ion-col>

      <ion-col size="auto">
        <ng-lottie [options]='options' (animationCreated)='created($event)'></ng-lottie>
      </ion-col>
    </ion-row>
  </form>
</ion-list>

    <ion-row>
      <ion-col size="4">
      </ion-col>
      <ion-col size="4">
      </ion-col>
      <ion-col size="4" class="ion-text-left">
        <ion-button (click)='pause()'>pause</ion-button>
        <ion-button (click)='play()'>play</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

  

