// For the share menu START
.footer{
    //position: fixed;
    bottom:0;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.image{
    //position: absolute;
    bottom: 0;
    width: 100%;
}
// For the share menu START